<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AVShinin.DataModel.Utils" version="1.0.2" targetFramework="net472" />
  <package id="CodingSeb.Localization" version="1.2.0" targetFramework="net472" />
  <package id="CodingSeb.Localization.JsonFileLoader" version="1.2.0" targetFramework="net472" />
  <package id="CodingSeb.Localization.WPF" version="1.2.0" targetFramework="net472" />
  <package id="CodingSebLocalization.Fody" version="1.2.0" targetFramework="net472" />
  <package id="ColorSpaceConverter" version="1.0.3" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Fody" version="6.5.1" targetFramework="net472" developmentDependency="true" />
  <package id="MaterialDesignColors" version="2.0.5" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.4.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PixiEditor.ColorPicker" version="3.3.1" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.4.0" targetFramework="net472" />
</packages>